@page "/"

<PageTitle>Home</PageTitle>

<h1>IM Park</h1>

<h6>Welcome to new Industrial Machine Park.</h6>

<img class="img-fluid img-homepage" src="images\home_Page.jpg" alt="company_homepage" />
<br />
<br />
<div>
    <a href="/machines">Go to Machines</a>
</div>
